<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Register</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    </head>
    <body class="bg-primary-subtle">

        {{!-- <div class="card-body">
            <h2 class="title">Registration Info</h2>
            <form method="POST">
                <div class="input-group">
                    <input class="input--style-1" type="text" placeholder="NAME" name="name">
                </div>
                <div class="row row-space">
                    <div class="col-2">
                        <div class="input-group">
                            <input class="input--style-1 js-datepicker" type="text" placeholder="BIRTHDATE" name="birthday">
                            <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="input-group">
                            <div class="rs-select2 js-select-simple select--no-search">
                                <select name="gender">
                                    <option disabled="disabled" selected="selected">GENDER</option>
                                    <option>Male</option>
                                    <option>Female</option>
                                    <option>Other</option>
                                </select>
                                <div class="select-dropdown"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="input-group">
                    <div class="rs-select2 js-select-simple select--no-search">
                        <select name="class">
                            <option disabled="disabled" selected="selected">CLASS</option>
                            <option>Class 1</option>
                            <option>Class 2</option>
                            <option>Class 3</option>
                        </select>
                        <div class="select-dropdown"></div>
                    </div>
                </div>
                <div class="row row-space">
                    <div class="col-2">
                        <div class="input-group">
                            <input class="input--style-1" type="text" placeholder="REGISTRATION CODE" name="res_code">
                        </div>
                    </div>
                </div>
                <div class="p-t-20">
                    <button class="btn btn--radius btn--green" type="submit">Submit</button>
                </div>
            </form>
        </div> --}}

        <div class="mx-auto my-12 p-8 bg-white" style="border: 1px outset gray;">
            <h1 class="">Register</h1>

            <form action="" method="POST" class="mt-4">
                <input type="text" name="name" placeholder="Name" class="" required>

                <input type="email" name="email" placeholder="Email" class="" required>

                <input type="password" name="password" placeholder="Password" class="" required>

                <button type="submit" class="">Send</button>

                {{#if error}}
                    <p>* {{error}}</p>
                {{/if}}
            </form>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    </body>
</html>